body,
html {
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

*,
*::before,
*::after {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input {
  width: 240px;
  height: 40px;
  line-height: 1.5;
  border: none;
  background: hsl(210, 9%, 96%);
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1rem;
}

.search {
  padding: 0.5rem 0.8rem;
  border: none;
  font-size: 1rem;
}

.container {
  height: 100%;
  width: 80vw;
  margin: 0 auto;
}

li {
  line-height: 1.8;
  list-style-type: none;
}

li>a {
  text-decoration: none;
}

#root {
  height: 50vh;
}

#map {
  height: 100%;
  margin-top: 1rem;
}